{% extends "layout.njk" %}
{% block content %}
    <main class="container">
        <h2>{{name}}</h2>
        <p>{{name}} är en {{species}}.</p>
        <p>{{name}} har ett vingspann på: {{wingspan}} mm.</p>
    </main>
{% endblock %}