{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <ul>
        {% for specie in species %}
            <li><a href="/species/{{specie.id}}">{{specie.name}}</a></li>
        {% endfor %}
    </ul>
</main>
{% endblock %}