{% extends "layout.njk" %}
{% block content %}
    <main class="container">
        <h2>{{name}}</h2>
        <p>{{name}} har ett vingspann mellan {{wingspanMax}}mm och {{wingspanMin}}mm.</p>
    </main>
{% endblock %}